:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

* {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--Pale-blue);
    text-align: center;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-blend-mode: inherit;
    background-attachment: fixed;
    background-repeat: repeat-x;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}